#logo-on-app-bar{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: var(--margin-top-logo-on-app-bar-center);
    transition: margin var(--animation-time);
}

#logo-on-app-bar img{
    width: var(--lenght-logo-on-app-bar);
    height: var(--lenght-logo-on-app-bar);
    transition: width var(--animation-time) cubic-bezier(0.45, 0.05, 0.55, 0.95), height var(--animation-time) cubic-bezier(0.45, 0.05, 0.55, 0.95)
}

.mdc-top-app-bar--short-collapsed div section #logo-on-app-bar{
    margin-top: 0;
}

.mdc-top-app-bar--short-collapsed div section #logo-on-app-bar img{
    width: var(--lenght-img-on-app-bar);
    height: var(--lenght-img-on-app-bar);
}

.mdc-top-app-bar--short-collapsed div section:first-child {
    opacity: 0;
    width: 0px;
    transition: opacity var(--animation-time);
}

#behaind_app_bar{
    height: calc(var(--lenght-logo-on-app-bar)/2);
}